/**************************/
/* HEADER */
/**************************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.768);

  /* Because we want header to be sticky later */
  height: 15rem;
  padding: 0 4.8rem;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/**************************/
/* NAVIGATION */
/**************************/

.logo {
  height: 8.2rem;
  padding-right: 1rem;
}

.greeting {
  color: #fff5f5;
  font-weight: 500;
  font-size: 2rem;
}

.logo-greeting {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-name {
  font-size: 3.6rem;
  color: #f03e3e;
  margin-right: 2rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff5f5;
  font-weight: 500;
  font-size: 2rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #c92a2a;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #c92a2a;
}

/**************************/
/* HERO SECTION */
/**************************/

.section-hero {
  background-color: #fdf2e9;
  padding: 9.6rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-header {
  color: #f03e3e;
}

.header-image {
  width: 100vw;
  height: 500px;
  object-fit: cover;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 110%;
  border-radius: 5px;
}

/* Popup style */
.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.popup-details {
  max-width: 130rem;
  margin: 0 auto;
  padding-top: 4.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup-detail {
  font-size: 2rem;
}

.box {
  position: relative;
  width: 30%;
  margin: 0 auto;
  height: 40%;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 50px;
  border: 1px solid #999;
  overflow: auto;
}

.close-icon {
  content: "x";
  cursor: pointer;
  position: fixed;
  right: calc(34% - 0.5px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}

/**************************/
/* MENU SECTION */
/**************************/

.dish-container {
  max-width: 130rem;
  margin: 0 auto;
  padding-top: 4.8rem;
}

.dish-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #fff5f5;
  margin-bottom: 2.6rem;
  padding: 4.8rem 0 9.6rem 0;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
}

.description-box {
  align-self: center;
  justify-self: center;
}

.title-img-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dish-description {
  font-size: 2.8rem;
  margin-bottom: 2rem;
}

.dish-image {
  width: 60%;
  border-radius: 11px;
}

.dish-price {
  font-size: 2.4rem;
  margin-bottom: 1.8rem;
}

.btn-add {
  margin-right: 2rem;
}

.btn-remove {
  margin-right: 2rem;
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25rem;
}

.filter-label {
  font-size: 2.4rem;
  margin-right: 1.2rem;
}

.label {
  font-size: 2.4rem;
  margin-left: 0.5rem;
  margin-right: 1.6rem;
}

/**************************/
/* CART SECTION */
/**************************/

.cart-container {
  max-width: 80rem;
  margin: 0 auto;
  padding-top: 25rem;
}

.cart-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff5f5;
  margin-bottom: 2.6rem;
  padding: 4.8rem 0 9.6rem 0;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
}

.cart-img {
  width: 80%;
}

.--checkout-btn {
  margin-right: 2rem;
}

/**************************/
/* CHECKOUT SECTION */
/**************************/

.checkout-container {
  max-width: 80rem;
  margin: 0 auto;
  padding-top: 20rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.checkout-contain {
  max-width: 80rem;
  margin: 0 auto;
  padding: 4.8rem 9.6rem 4.8rem 9.6rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
}

.order-details {
  font-size: 2.6rem;
}

.price-details {
  font-size: 2rem;
  margin-top: 3rem;
}

.price-detail {
  margin-bottom: 1rem;
}

.order-btn {
  margin-top: 2rem;
}

/**************************/
/* LOGIN SECTION */
/**************************/

.form-container {
  padding-top: 9.6rem;
  max-width: 50rem;
  margin: 0 auto;
}

.cta-form {
  display: flex;
  flex-direction: column;
  padding: 9.6rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  background-color: #fffafa;
}

.cta-form label {
  display: block;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #eaeaea;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.2rem;
}

.login-btn {
  margin-top: 2rem;
}

/**************************/
/* SIGNUP SECTION */
/**************************/

.signup-cta-text {
  font-size: 2rem;
  margin-right: 3rem;
}

.signup-container {
  max-width: 50rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.form-container-signup {
  padding-top: 9.6rem;
  max-width: 60rem;
  margin: 0 auto;
}

.cta-form-signup {
  display: flex;
  flex-direction: column;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
  padding: 9.6rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  background-color: #fffafa;
}
.cta-form-signup label {
  display: block;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form-signup input,
.cta-form-signup select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #eaeaea;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.login-container {
  display: flex;
  max-width: 90rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  padding-bottom: 9.6rem;
}

/**************************/
/* PROFILE SECTION */
/**************************/

.form-container-profile {
  padding-top: 20rem;
  max-width: 100rem;
  margin: 0 auto;
}

.cta-form-profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
  padding: 9.6rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  background-color: #fffafa;
}
.cta-form-profile label {
  display: block;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.profile-header {
  padding-top: 9.6rem;
}

.cta-form-profile input {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #eaeaea;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.orders-container {
  padding-bottom: 9.6rem;
  max-width: 45rem;
}

.order-details-card {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #fffafa;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  padding: 4.8rem;
  margin-bottom: 1.2rem;
}

.order-details-card p {
  font-size: 2rem;
  margin-bottom: 1.2rem;
}

.status {
  font-size: 2rem !important;
}

/**************************/
/* ADMIN SECTION */
/**************************/

.admin-container {
  max-width: 90rem;
  margin: 0 auto;
  padding-top: 20rem;
}

.admin-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fffafa;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  padding: 4.8rem;
  margin-bottom: 1.2rem;
}

.admin-nav a {
  display: flex;
  align-items: center;
  font-size: 2.6rem;
  text-decoration: none;
  color: #f03e3e;
  font-weight: 500;

  transition: all 0.3s;
}

.admin-nav a:hover,
.admin-nav a:active {
  color: #f88383;
}

.icon {
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
}

/**************************/
/* NEW DISH SECTION */
/**************************/

.--new-dish {
  padding-bottom: 9.6rem;
}
